<div id="deleteFileForm" class="modal">
    <form
        action="/file/delete/<%= fileId %>"
        id="deleteFileFormElement"
        method="POST"
    >
        <h3 class="delete-text">Delete File</h3>
        <label for="fileName"
            >Are you sure you want to
            <span class="delete-text">delete</span> file "<%= fileName %>"
        </label>
        <input type="hidden" name="fileId" value="<%= fileId %>" />
        <input type="hidden" name="fileName" value="<%= fileName %>" />
        <div class="actions">
            <button type="submit" class="cancel-btn" id="formDeleteFileBtn">
                Delete
            </button>
            <button type="button" class="cancel-btn" id="cancelDeleteFileBtn">
                Cancel
            </button>
        </div>
        <input type="hidden" name="parentId" value="<%= currentDirId %>" />
    </form>

    <div
        id="loadingSpinnerDeleteFile"
        class="loadingSpinner"
        style="display: none"
    >
        <p>Deleting File...</p>
    </div>
</div>
