<% layout('layout', { dirs: dirs }) %>

<div id="filePreview">
    <% if (file.extension.startsWith('image/')) { %>
    <img
        src="https://oyjkiiwvhqlfhsqxanwj.supabase.co/storage/v1/object/public/<%= file.path %>"
        alt="<%= file.name %>"
    />
    <% } else if (file.extension === 'application/pdf') { %>
    <embed
        src="https://oyjkiiwvhqlfhsqxanwj.supabase.co/storage/v1/object/public/<%= file.path %>"
        type="application/pdf"
    />
    <% } else { %>
    <p id="no-preview">
        Preview not available for this file type: <%= file.name %>
    </p>
    <% } %>
</div>

<div id="fileInfo">
    <div id="fileInfoName"><b>Name:</b> <%= file.name %></div>
    <div id="fileInfoSize"><b>Size:</b> <%= file.size %> KB</div>
    <div id="fileInfoExt"><b>Type:</b> <%= file.extension %></div>
    <div id="fileInfoUploaded">
        <b>Uploaded:</b> <%= formatDate(file.createdAt) %>
    </div>
</div>

<%- include('deleteFileForm', { fileId: file.id, fileName: file.name }) %>
