<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CloudBridge</title>
        <link rel="icon" href="/images/storage.png" />
        <link rel="stylesheet" href="/styles/index.css" />
        <link rel="stylesheet" href="/styles/header.css" />
        <link rel="stylesheet" href="/styles/auth.css" />
        <link rel="stylesheet" href="/styles/welcome_page.css" />
        <link rel="stylesheet" href="/styles/sidebar.css" />
        <link rel="stylesheet" href="/styles/add_forms.css" />
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/flashMsgs.css" />
    </head>
    <body>
        <div id="success-container">
            <% if(success) { %>
            <div id="success-msg"><%= success %></div>
            <div id="progress-bar"></div>
            <% } %>
        </div>

        <div id="error-container">
            <% if(error) { %>
            <div id="error-msg"><%= error %></div>
            <div id="progress-bar"></div>
            <% } %>
        </div>
        <!--  -->
        <%- include('header') %>

        <div id="container">
            <!-- SIDEBAR template -->
            <% if(currentUser) { %> <%- include('sidebar', { dirs: dirs, fileId:
            file.id, fileName: file.name, dirId: currentDirId, dirName:
            dirName}) %> <% } %>

            <!-- MAIN CONTENT template -->
            <div id="main"><%- body %></div>
        </div>
    </body>

    <script type="module">
        import {
            showSuccessMsg,
            showAddDirForm,
            showEditDirForm,
            showAddFileForm,
            showEditFileForm,
            showLoadingForm,
            showDeleteDirLoading,
            showDeleteFileForm,
            showDeleteDirForm,
            changeChosenFileName,
            submitDownloadFileForm,
        } from '/js/showForms.js';

        document.addEventListener('DOMContentLoaded', () => {
            const successContainer =
                document.getElementById('success-container');
            const addDirBtn = document.getElementById('addDirBtn');
            const deleteFileBtn = document.getElementById('deleteFileBtn');
            const deleteDirBtn = document.getElementById('deleteDirBtn');

            if (successContainer) {
                showSuccessMsg();
            }
            if (addDirBtn) {
                showAddDirForm();
                showAddFileForm();
                showLoadingForm();
                changeChosenFileName();
            }
            if (deleteFileBtn) {
                showDeleteFileForm();
                submitDownloadFileForm();
                showEditFileForm();
            }
            if (deleteDirBtn) {
                showEditDirForm();
                showDeleteDirForm();
                showDeleteDirLoading();
            }
        });
    </script>
</html>
